nav {
  background-color: #37442a !important;
}

.nav-item {
  color: #f5f5f5 !important;
}

.nav-item:hover {
  background-color: #667e4e;
  color: black !important;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(60, 230, 74, 0.2), 0 6px 20px 0 rgba(146, 230, 143, 0.19);
}


