a {
  color: #5a7247;
}

a:hover {
  background-color: #a8cf80;
  box-shadow: 0 4px 8px 0 rgba(60, 230, 74, 0.2), 0 6px 20px 0 rgba(146, 230, 143, 0.19);
  text-decoration: none;
}

#avatar {
  width:100%;
}

#avatarImage {
  padding: 0;
}

.workxp {
  margin-bottom: 5%;
}

.emp-dates {
  color: #5a7247;
}
