#contactimg {
  padding: 0;
}

.contactPage {
  margin-bottom: 10%;
}

.btn {
  background-color: #667e4e;
}

a {
  color: #5a7247;
}

a:hover {
  background-color: #a8cf80;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(60, 230, 74, 0.2), 0 6px 20px 0 rgba(146, 230, 143, 0.19);

}
