<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div>
        <div class="card-header text-center shadow">
          <h3>PORTFOLIO</h3>
          <p>
            <em>
              Here are some links to projects I have worked on
              <br />
              Click on the images to go to the deployed pages
            </em>
          </p>
        </div>
        <!-- meteorite search -->
        <div class="card mt-2 shadow">
          <div class="card-body row no-gutters">
            <a
              href="https://bobachu.github.io/project1/"
              target="_blank"
              rel="noopener noreferrer"
              class="col-md-3 card-img"
            >
              <img src="../../../../assets/meteorite.jpg" alt="meteortite" />
              <div
                class="card-img-overlay d-flex flex-column justify-content-end portdisc"
              >
                <h4 class="meteordisc">Meteor Search</h4>
              </div>
            </a>
            <div class="col-md-9">
              <p>Geocaching for meteorites</p>
              <p style="text-decoration: underline;">Description</p>
              <p>
                Using data from the NASA meteorite landing API combined with
                Google Maps API we made a site that allowed people to find
                meteorites that have landed near any location they wish to
                search. we also save the searches using Google Firebase so you
                can see the places searched before.
              </p>
              <a
                href="https://github.com/Bobachu/project1"
                target="_blank"
                rel="noopener noreferrer"
                style="text-align: center"
              >
                GitHub Repository
              </a>
            </div>
          </div>
        </div>
        <!-- end meteorite search -->
        <!-- Avocado crumble -->
        <div class="card mt-2 shadow">
          <div class="card-body row no-gutters">
            <a
              href="https://obscure-atoll-11517.herokuapp.com/"
              target="_blank"
              rel="noopener noreferrer"
              class="col-md-3 card-img"
            >
              <img
                src="../../../../assets/avocado.png"
                alt="avocado"
                class="portimg"
              />
              <div
                class="card-img-overlay d-flex flex-column justify-content-end portdisc"
              >
                <h4 class="avodisc">Avocado Crumble</h4>
              </div>
            </a>
            <div class="col-md-9">
              <p>The answer to what's for dinner</p>
              <p style="text-decoration: underline;">Description</p>
              <p>
                Using the Yummly API users can enter a primary and secondary
                ingredient they have on hand and get a list of recipes they can
                make with them. They can also enter specific diet restrictions
                and allergies. A SQL database is used to save the past searches
                that are then shown on the bottom of the page and can be
                searched again by clicking on the search button attached to
                them. Users are also able to enter their own recipes and future
                development would allow those recipes to be included in a
                search, for now these are stored in a SQL database. The page is
                rendered using Handlebars and W3Schools CSS for styling.˝
              </p>
              <a
                href="https://github.com/Bobachu/project2"
                target="_blank"
                rel="noopener noreferrer"
                style="text-align: center"
              >
                GitHub Repository
              </a>
            </div>
          </div>
        </div>
        <!-- end avocado crumble -->
        <!-- next port item goes here 2 -->
        <div class="card mt-2 shadow">
          <div class="card-body row no-gutters">
            <a
              href="https://banana-cupcake-16306.herokuapp.com/"
              target="_blank"
              rel="noopener noreferrer"
              class="col-md-3 card-img"
            >
              <img
                src="../../../../assets/gamead.jpeg"
                alt="games"
                class="portimg"
              />
              <div
                class="card-img-overlay d-flex flex-column justify-content-end portdisc"
              >
                <h4 class="avodisc">Game Advisor</h4>
              </div>
            </a>
            <div class="col-md-9">
              <p>Is that video game appropriate for your kid?</p>
              <p style="text-decoration: underline;">Description</p>
              <p>
                The goal of this site was to make a resource for parents to they
                can find out about video game their children want them to buy.
                Using the GiantBomb api, Internet Games Database API, and the
                Twitch API users can search for a game and see the ESRB rating
                and detailed content information. They can also see people
                playing the game live using the Twitch video links on the search
                results page. Users can also create accounts and save items to a
                wishlist so they can come back later to find them. User accounts
                and wishlists were stored using a mongo database. Future
                development plans are to add a more robust user system with user
                reviews, links to their past searches, and chat for logged in
                users. Also possible plans to allow purchasing directly through
                the site instead of external links.
              </p>
              <a
                href="https://github.com/Bobachu/project3"
                target="_blank"
                rel="noopener noreferrer"
                style="text-align: center"
              >
                GitHub Repository
              </a>
            </div>
          </div>
        </div>
        <!-- next port item goes here 3 -->
        <div class="card mt-2 shadow">
          <div class="card-body row no-gutters">
            <a
              href="https://bobachu.github.io/unit-4-game/"
              target="_blank"
              rel="noopener noreferrer"
              class="col-md-3 card-img"
            >
              <img
                src="../../../../assets/Terra.jpg"
                alt="meteortite"
                class="portimg"
              />
              <div
                class="card-img-overlay d-flex flex-column justify-content-end portdisc"
              >
                <h4 class="avodisc">RPG Game</h4>
              </div>
            </a>
            <div class="col-md-9">
              <p>A simple rpg battle game using jquery</p>
              <p style="text-decoration: underline;">Description</p>
              <p>
                A simple rpg battle game created using jquery to manipulate the
                elements on a page. Select a hero then select an opponent from
                the remaining options. play until you beat all the other heroes
                or until your hero is defeated.
              </p>
              <a
                href="https://github.com/Bobachu/unit-4-game"
                target="_blank"
                rel="noopener noreferrer"
                style="text-align: center"
              >
                GitHub Repository
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
